.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin: 10px 0 5px;
    color: #555;
  }
  
  input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    background-color: #f896d4;
    color: rgb(18, 1, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f827af;
  }
  
  .error-message {
    color: red;
    text-align: center;
    font-weight: bold;
  }
  
  .cancel-btn {
    background-color: #dc3545;
  }
  
  .cancel-btn:hover {
    background-color: #a71d2a;
  }
  