/* WelcomePage.css */
.welcome-container {
    text-align: center;
    padding: 30px;
    background-color: #f4f4f4;
    min-height: 100vh;
  }
  
  .welcome-header {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .welcome-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #f59fd2;
    color: rgb(16, 1, 1);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    transition: background 0.3s ease;
  }
  
  .button:hover {
    background-color: #f337cd;
  }
  
  .scrum-list {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
  }
  
  .scrum-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .scrum-list li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .scrum-details {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
  }
  
  .scrum-details h3 {
    color: #fa94d9;
  }
  
  .scrum-details ul {
    padding: 0;
  }
  
  .scrum-details li {
    background: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  